security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # FIREWALL DE CONNEXION - DOIT ÊTRE PRÉSENT
        login:
            pattern: ^/api/login_check
            stateless: true
            json_login:
                check_path: /api/login_check
                username_path: username
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        # FIREWALL DE L'API - PROTÉGÉ PAR JWT
        api:
            pattern: ^/api
            stateless: true
            jwt: ~

        # FIREWALL PAR DÉFAUT (pour les routes web futures)
        main:
            lazy: true
            provider: app_user_provider
#        dev:
#            pattern: ^/(_(profiler|wdt)|css|images|js)/
#            security: false




    access_control:
        # La route de login doit être publique
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        # Tout le reste de /api nécessite une authentification
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
